html {
  font-family: sans-serif;
}

body{
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Your CSS below here */

.cool-box {
  width: 200px;
}

div {
  width: 400px;
  height: 100px;
  background-color: red;
  text-align: center;
  border-radius: 15px 15px;
}

p {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  font: bold 1.2em "Helvetica", serif, red;
  text-shadow: 2px 2px rgb(22, 21, 21);
  color: red;
}