{
    "presets": [
        [
        "@babel/preset-env",
        {
            "targets": {
            "node": "9.10",
            "browsers": "last 2 Chrome versions"
            }
        }
        ]
    ]
}